<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Controle de Chaves</title>

     {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Bem-vindo ao KeyLink</h3>
                    </div>
                    <div class="card-body">
                        <h4>Aonde deseja ir:</h4>
                        <div class="d-grid gap-2">
                            <a href="{% url 'funcionario_list' %}" class="btn btn-primary mb-2">Funcionários</a>
                            <a href="{% url 'sala_list' %}" class="btn btn-primary mb-2">Salas</a>
                            <a href="{% url 'registro_list' %}" class="btn btn-primary mb-2">Registros</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
